@import "theme.css";
*{
  display: flexbox;
  text-align: center;
}
body{
  background-color: black;
  color: white;
  width: 500px;
}
h1{
  margin-bottom: .5rem;
}
p{
 margin-top: .5rem; 
}
#button{
  display: flex;
  align-items: center;
  justify-content: center;
}
#read{
  transition: 0.3s;
}
#read:hover{
  background-color: var(--gold);
}
#read:disabled{
  background-color: darkgray;
}
#message{
  text-align: left;
}