body{
  width: 700px;
}

body > *{
  display: none;
}

body > .active{
  display: block;
} 

dt{
  margin-top: 5px;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: black;
}